.navbar-custom{
  box-shadow: 2px 2px 2px;
}
.nav-link-custom{
  color: black;
}
.logo-title{
  font-style: italic;
}
.navbar-brand{
  font-size: 20px;
}
.btn-default{
  background: cornflowerblue !important;
}
.profile-img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}



.banner-content{
  text-align: center;
  padding-top: 10%;
}

.footer{
  background: darkgrey;
  text-align: center;
  height: auto;
  padding: 15px;
}

.social-icons {
  padding-top: 20px;
}

.fa-facebook,
.fa-twitter,
.fa-instagram{
  border: 1px solid black;
  border-radius: 50%;
  background: #000;
  color: white;
  width: 50px;
  height: 50px;
  padding-top: 10px;
}

#post-banner{
  padding-top: 15%;
}

.post-title{
  font-family: cursive;
}

.navbar-brand{
  font-family:  serif;
}

.subtitle{
  font-family:  serif;
}

.logo-title{
  font-family:  serif;
  font-style: italic;
}

.post-name{
  font-family:  serif;
  font-style: italic;
}

.date{
  font-family:  serif;
  font-style: italic;
}

.quoted-author{
  font-family:  cursive;
}

.quoted-quote{
  font-family:  serif;
   font-style: italic;
}

.card-title > h2{
  font-family:  serif;
}

