{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-5">
                <div class="card" style="position: relative">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Random Quote</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <h2 class="quoted-author">{{ quote.author }}</h2>
                        <p class="quoted-quote">{{ quote.quote }}</p>
                    </div>
                </div>
            </div>
            
              
            
        
            <div class="col-md-6">
                {% for post in posts %}
                <div class="body-content mt-3">
                    <h4 class="post-title">{{post.post_title}}</h4>
                    <h5 class="subtitle"> {{post.description}}</h5>
                    
                    <h6 class="post-name">Posted by ~ {{post.author.username}}</h6>
                    <img src="{{ post.author.profile_pic_path }}" alt="">
                    <p class="date text-muted">Posted on ~ {{post.date.strftime('%Y-%m-%d')}}</p>
                    <hr>
            
                    <a href="{{ url_for('main.view', id=post.id) }}" class="btn btn-sm btn-outline-dark"> Comments</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
        <footer class="footer mt-4" style="background-color:black">
        <div class="social-icons">
            <i class="fa fa-2x fa-facebook"></i>
            <i class="fa fa-2x fa-twitter"></i>
            <i class="fa fa-2x fa-instagram"></i>
        </div>
        <p class="pt-2" style="color:burlywood">Copyright &copy; 2020 Jamal Hassan</p>
    </footer>
{% endblock %}
